[submodule "Mupen64Plus/mupen64plus-core"]
	path = Sources/Mupen64Plus/mupen64plus-core
	url = https://github.com/rileytestut/mupen64plus-core.git
[submodule "Mupen64Plus/GLideN64"]
	path = Sources/Mupen64Plus/GLideN64
	url = https://github.com/rileytestut/GLideN64.git
[submodule "Mupen64Plus/libpng"]
	path = Sources/Mupen64Plus/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "Mupen64Plus/mupen64plus-rsp-hle"]
	path = Sources/Mupen64Plus/mupen64plus-rsp-hle
	url = https://github.com/mupen64plus/mupen64plus-rsp-hle.git
